[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "==1.12.1"
torchvision = "==0.13.1"
torchaudio = "==0.12.1"
ftfy = "*"
regex = "*"
tqdm = "*"
clip = {git = "https://github.com/openai/CLIP.git"}
pandas = "*"
scikit-learn = "*"
transformers = "*"
scikit-image = "*"
yake = "*"

[dev-packages]

[requires]
python_version = "3.8"
